.app-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.panel-sidebar {
  flex: 2; /* 佔比 2 (約 15-20%) */
  min-width: 200px;
  max-width: 300px;
  height: 100%;
  z-index: 20;
}

.panel-2d {
  flex: 4; /* 佔比 4 */
  height: 100%;
  position: relative;
  z-index: 10;
  border-right: 1px solid #444; /* 加個分隔線 */
}

.panel-3d {
  flex: 6; /* 佔比 6 */
  height: 100%;
  position: relative;
}